<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ChkAuthorized</servlet-name>
        <servlet-class>com.pg.lib.Servlet.ChkAuthorized</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chklogin</servlet-name>
        <servlet-class>com.pg.lib.Servlet.Chklogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCustomer</servlet-name>
        <servlet-class>com.pg.lib.Servlet.UploadCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyList</servlet-name>
        <servlet-class>com.pg.lib.Servlet.CompanyList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadDepartment</servlet-name>
        <servlet-class>com.pg.lib.Servlet.UploadDepartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customer</servlet-name>
        <servlet-class>com.pg.lib.Servlet.Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Department</servlet-name>
        <servlet-class>com.pg.lib.Servlet.Department</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Material</servlet-name>
        <servlet-class>com.pg.lib.Servlet.Material</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>com.pg.lib.Servlet.Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadTransaction</servlet-name>
        <servlet-class>com.pg.lib.Servlet.UploadTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadTransactionCustomer</servlet-name>
        <servlet-class>com.pg.lib.Servlet.UploadTransactionCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadTransactionDepartment</servlet-name>
        <servlet-class>com.pg.lib.Servlet.UploadTransactionDepartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionCustomer</servlet-name>
        <servlet-class>com.pg.lib.Servlet.TransactionCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionDepartment</servlet-name>
        <servlet-class>com.pg.lib.Servlet.TransactionDepartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Barcode</servlet-name>
        <servlet-class>com.pg.lib.Servlet.Barcode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDataStock</servlet-name>
        <servlet-class>com.pg.lib.Servlet.GetDataStock</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChkAuthorized</servlet-name>
        <url-pattern>/ChkAuthorized</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chklogin</servlet-name>
        <url-pattern>/Chklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCustomer</servlet-name>
        <url-pattern>/UploadCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyList</servlet-name>
        <url-pattern>/CompanyList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadDepartment</servlet-name>
        <url-pattern>/UploadDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customer</servlet-name>
        <url-pattern>/Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Department</servlet-name>
        <url-pattern>/Department</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Material</servlet-name>
        <url-pattern>/Material</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadTransaction</servlet-name>
        <url-pattern>/UploadTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadTransactionCustomer</servlet-name>
        <url-pattern>/UploadTransactionCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadTransactionDepartment</servlet-name>
        <url-pattern>/UploadTransactionDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionCustomer</servlet-name>
        <url-pattern>/TransactionCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionDepartment</servlet-name>
        <url-pattern>/TransactionDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Barcode</servlet-name>
        <url-pattern>/Barcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDataStock</servlet-name>
        <url-pattern>/GetDataStock</url-pattern>
    </servlet-mapping>
    <session-config>
    <session-timeout>
        30
    </session-timeout>
</session-config>

<welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
</welcome-file-list>

</web-app>
